In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import sparse as sps
import seaborn as sns

In [2]:
ratings = pd.read_csv('data/ml-latest-small/ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [4]:
movies = pd.read_csv('data/ml-latest-small/movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
movie_titles = movies.set_index('movieId')['title']
movie_titles.head()

movieId
1                      Toy Story (1995)
2                        Jumanji (1995)
3               Grumpier Old Men (1995)
4              Waiting to Exhale (1995)
5    Father of the Bride Part II (1995)
Name: title, dtype: object

In [6]:
item_ratings = ratings.set_index(['movieId','userId'])
item_ratings.head()

                rating  timestamp
movieId userId
1       1          4.0  964982703
3       1          4.0  964981247
6       1          4.0  964982224
47      1          5.0  964983815
50      1          5.0  964982931

## GSLIM

### Algorithm 1 : GSLIM
g and g' are initialized with $0.5$ and $1-g$ respectively

![Algorithm 1](algo1.png "Algorithm 1")

In [18]:
user_index = pd.Index(ratings['userId'].unique())
g = np.full(ratings.userId.unique().shape, 0.5)
g_prime = 1-g